body{
    font-family: Hanken Grotesk;
    font-size: 16px;
    height: 100vh;
    max-width: 1440px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);

}
.containers{
    max-width: 600px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
}
.container1{
    background: linear-gradient(to top, hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    max-width: 90%;
    max-height: 100%;
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 20px;
}
.number{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background:linear-gradient( to top, hsla(241, 72%, 46%, 0),hsla(256, 72%, 46%, 1));
    width: 150px;
    height: 150px;
    border-radius:50%;
}
.result{
    font-size:large;
    color: lightgray;
    font-weight: 600;
}
.number > p1{
    font-size:60px ;
    font-weight: 700;
    color: aliceblue;
    margin-top: 20%;
}
.number > p2{
    margin-bottom: 10%;
    color:lightgrey;
}
.great{
    color: rgb(239, 248, 255);
    font-weight: 700;
    font-size: x-large;
    height: 10%;
}
.text{
    color: lightgrey;
    width: 75%;
    text-align: center;
    margin-bottom: 10%;

}

.container2{
    order:-1 ;
    background-color: hsl(0, 0%, 100%);
    max-width: 100%;
    max-height: 100%;
    grid-area: 1/2/2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.sum{
    width: 70%;
    margin-left: 50px;  
    font-size: x-large;
    font-weight: 900;
}
.red,.memory,.verbal,.visual{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color:  hsl(241, 100%, 89%);
    gap: 10px;
    width:70%;
    height: 10%;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
}
.con{
    width: 70%;
    margin-left: 50px;
    margin-top: 30px;
    background-color:  hsl(224, 30%, 27%);  
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    color: antiquewhite;
}
.red > .text1 {
   color: hsl(0, 100%, 67%);
}
.memory > .text1{
    color:hsl(39, 100%, 56%);
}
.verbal > .text1{
    color:hsl(166, 100%, 37%);
}
.visual > .text1{
    color:hsl(234, 85%, 45%);
}
.text1{
    font-weight: 800;
}
.numbers{
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.number1{
    margin: 10px;
    font-weight: 900;  
}


.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
@media (max-width:450px){
    
}